<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--In older version, Microsoft.Practices.Unity.Configuration.dll is part of older version (around 3.5.1404). In newer version,
    Microsoft.Practices.Unity.Configuration.UnityConfigurationSection class is moved to Unity.Configuration.dll.-->
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--Old syntax-->
    <!--<typeAliases>
      <typeAlias alias="IDBAccess" type="Interfaces.IDataProvider, Interfaces" />
      <typeAlias alias="SQLDataAccess" type="SQLDataProvider.DataProvider, SQLDataProvider" />
    </typeAliases>-->
    <!--New syntax supported in newer versions. So if above syntax does not work then try below one-->
    <alias alias="IAlarm" type="TDDMicroExercises.TirePressureMonitoringSystem.Interfaces.IAlarm, TDDMicroExercises.TirePressureMonitoringSystem.Interfaces"/>
    <alias alias="ISensor" type="TDDMicroExercises.TirePressureMonitoringSystem.Interfaces.ISensor, TDDMicroExercises.TirePressureMonitoringSystem.Interfaces"/>
    <alias alias="Alarm" type="TDDMicroExercises.TirePressureMonitoringSystem.Alarm, TDDMicroExercises.TirePressureMonitoringSystem"/>
    <alias alias="Sensor" type="TDDMicroExercises.TirePressureMonitoringSystem.Sensor, TDDMicroExercises.TirePressureMonitoringSystem"/>
    <containers>
      <container name="TDDMicroExcerises">
        <register type="IAlarm" mapTo="Alarm"/>
        <register type="ISensor" mapTo="Sensor"/>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.2.0" newVersion="5.11.11.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
